@model MyShop.Core.ViewModels.ProductCaegoryViewModel

@{
    ViewBag.Title = "Home Page";
}
<h2>Products</h2>
<div class="col-md-2">
    <div class="list-group">
         @Html.ActionLink("All", "Index", new { }, htmlAttributes: new {@class = "list-group-item"})
        @foreach (var ProductCategory in Model.GetProductCategory())
        {
            @Html.ActionLink(ProductCategory.Category, "Index", new { CollectionId = ProductCategory.Id }, htmlAttributes: new { @class = "list-group-item" , @style="color:Green" })
        }
    </div>
    </div>
<div class="col-md-10">
    @foreach (var product in Model.GetProducts())
    {
        <div class="col-md-4" style="height:auto;padding:10px;">
            <div class="col-md-12">
                <img id="img" src="~/Content/Image/@product.Image" style="height:200px;width:150px" />
            </div>
            <div class="col-md-12">

                @Html.ActionLink(product.Name, "About", new { productId = product.Id })
            </div>
            <div class="col-md-12">
                <b>@Html.DisplayNameFor(model => product.Description)</b>
                :
                @Html.DisplayFor(model => product.Description)

            </div>
            <div class="col-md-12">
                <b> @Html.DisplayNameFor(model => product.Price)</b>
                :
                @Html.DisplayFor(model => product.Price)
            </div>


        </div>
    }
    </div>

